<div
  [ngClass]="{ open: navService.sidebarState.sidenavOpen }"
  class="sidebar-left rtl-ps-none"
  [perfectScrollbar]="{ suppressScrollX: true }"
>
  <!-- <div class="logo">
    <img src="./assets/images/Recurso_1.png" alt="" />
  </div> -->
  <div class="navigation-left">
    <!-- <div class="filtro-title my-3">Filtros</div>
    
    <div class="d-inline-block my-2">
      <label for="filtroInput">{{filtroEmmit}}:</label>
      <span class="filtro-search">
        <span class="material-symbols-outlined">search</span>
        <input type="text" class="search-input" id="filtroInput" (input)="onFiltroInputChange($event)" [(ngModel)]="filtroInputValue" placeholder="Buscar por sector">
      </span>
    </div>

<div class="d-inline-block my-2">
  <label for="ubicacion">Ubicación:</label>
  <select id="ubicacion" class="filtro-search" (change)="seleccionarUbicacion($event.target.value)">
    <option value="">Seleccionar</option>
    <option *ngFor="let opcion of ubicacion" [value]="opcion.value">{{ opcion.value }}</option>
  </select>
</div>

<div class="d-inline-block my-2">
  <label for="tamanio">Número de trabajadores:</label>
  <select id="tamanio" class="filtro-search" (change)="seleccionarTrabajadores($event.target.value)">
    <option value="">Seleccionar</option>
    <option *ngFor="let opcion of tamanio" [value]="opcion.value">{{ opcion.value }}</option>
  </select>
</div> -->

    <!-- <div ngbDropdown class="d-inline-block my-2">
      <button class="btn btn-outline-primary" id="location_id" ngbDropdownToggle>
        Ubicación
      </button>
      <div ngbDropdownMenu aria-labelledby="location_id">
        <button class="dropdown-item" *ngFor="let opcion of ubicacion" (click)="seleccionarUbicacion(opcion.value)">{{ opcion.value }}</button>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block my-2">
      <button class="btn btn-outline-primary" id="tamanio_id" ngbDropdownToggle>
        # de trabajadores
      </button>
      <div ngbDropdownMenu aria-labelledby="tamanio_id">
        <button class="dropdown-item" *ngFor="let opcion of tamanio" (click)="seleccionarTrabajadores(opcion.value)">{{ opcion.value }}</button>
      </div>
    </div> -->

    <!-- <div ngbAccordion>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Ubicación</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>

              <button class="dropdown-item" *ngFor="let opcion of ubicacion" (click)="seleccionarOpcion(opcion.id)">{{ opcion.value }}</button>

          </div>
        </div>
      </div>
    </div> -->

    <li
      [ngClass]="{ active: item.active }"
      (click)="onClickChangeActiveFlag(item)"
      class="nav-item lvl1"
      *ngFor="let item of nav"
    >
      <div
        class="nav-item-hold"
        routerLink="{{ item.state }}"
        (click)="closeChildNav()"
        *ngIf="!item.disabled && item.type === 'link'"
      >
        <i [class]="'nav-icon ' + item.icon"></i>
        <span class="nav-text">{{ item.name }}</span>
      </div>
      <div
        class="nav-item-hold"
        (click)="selectItem(item)"
        *ngIf="!item.disabled && item.type === 'dropDown'"
      >
        <i [class]="'nav-icon ' + item.icon"></i>
        <span class="nav-text">{{ item.name }}</span>
      </div>
      <div
        class="nav-item-hold"
        *ngIf="!item.disabled && item.type === 'extLink'"
      >
        <a [href]="item.state" target="_blank">
          <i [class]="'nav-icon ' + item.icon"></i>
          <span class="nav-text">{{ item.name }}</span>
        </a>
      </div>

      <div class="triangle" *ngIf="!item.disabled"></div>
    </li>
  </div>
</div>

<div
  [ngClass]="{ open: navService.sidebarState.childnavOpen }"
  class="sidebar-left-secondary rtl-ps-none"
  [perfectScrollbar]="{ suppressScrollX: true }"
  (mouseleave)="closeChildNav()"
>
  <header>
    <h6>Apps</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </header>
  <ng-container
    *ngTemplateOutlet="
      menuTemplate;
      context: { parentItem: navService.selectedItem }
    "
  ></ng-container>
</div>

<ng-template #menuTemplate let-parentItem="parentItem">
  <ul class="childNav" appDropdown>
    <li *ngFor="let item of parentItem?.sub" appDropdownLink class="nav-item">
      <a
        routerLink="{{ item.state }}"
        *ngIf="item.type === 'link'"
        class=""
        routerLinkActive="open"
      >
        <i *ngIf="item.icon" [class]="'nav-icon ' + item.icon"></i>
        <span class="item-name lvl1">{{ item.name }}</span>
      </a>

      <div *ngIf="item.type === 'dropDown'">
        <a
          appDropdownToggle
          [ngClass]="{ open: item.active }"
          routerLinkActive="open"
        >
          <i *ngIf="item.icon" [class]="'nav-icon ' + item.icon"></i>
          <span class="item-name">{{ item.name }}</span>
          <i class="dd-arrow i-Arrow-Down"></i>
        </a>
        <ng-container
          *ngTemplateOutlet="menuTemplate; context: { parentItem: item }"
        ></ng-container>
      </div>
    </li>
  </ul>
</ng-template>

<div
  [ngClass]="{ open: navService.sidebarState.childnavOpen }"
  class="sidebar-overlay"
  (click)="closeChildNav()"
></div>
