::ng-deep .dropdown-list.tagToBody {
    width: 235px !important;
    bottom: 0% !important;
    left: 18px !important;
    top: 395px !important;
  }
  
  ::ng-deep .pure-checkbox input[type="checkbox"] + label:before {
    color: #b24732 !important;
    border: 1px solid #b24732 !important;
  }
  
  ::ng-deep .pure-checkbox input[type="checkbox"]:checked + label:before {
    background: #b24732 !important;
  }
  
  ::ng-deep .selected-list .c-list .c-token {
    background: #b24732 !important;
  }