<div class="breadcrumb">
  <h1>Roles</h1>
  <ul>
    <li><a>Lista de Roles</a></li>
  </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="col-md-12" style="text-align: end">
  <button
    class="btn btn-outline-info btn-rounded"
    (click)="openCategoriasAdd(addProductos)"
  >
    Agregar
  </button>
</div>

<div class="row mt-3">
  <div
    style="
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 1rem;
    "
    *ngIf="loadData"
  >
    <div class="loader-bubble loader-bubble-info m-4"></div>
  </div>

  <div class="col-md-12">
    <div class="card o-hidden">
      <div
        style="padding-left: 20px"
        *ngIf="!allUser?.length"
        class="w-100 my-4 mx-auto"
      >
        <h4>{{ "Sin Roles agregadas" }}</h4>
      </div>

      <ngx-datatable
        *ngIf="allUser?.length"
        style="box-shadow: none"
        class="material fullscreen"
        [style.height]="60 * allUser.length + 60 + 'px'"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="60"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [rows]="allUser"
      >
        <ngx-datatable-column [resizeable]="false" [sortable]="false" [width]="20">
          <ng-template ngx-datatable-header-template><span class="centered-cell">Id</span></ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
          <span class="centered-cell">
            <span class="text-container">{{ row.id }}</span>
          </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" [sortable]="false" [width]="100">
          <ng-template ngx-datatable-header-template> <span class="centered-cell">Rol</span> </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
          <span class="centered-cell">
            <span class="text-container">{{ row.name }}</span>
          </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [sortable]="false" [width]="100">
          <ng-template ngx-datatable-header-template> <span class="centered-cell">Descripción</span> </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
          <span class="centered-cell"> 
            <span class="text-container">{{ row.description }}</span>
          </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" [sortable]="false" [width]="40">
          <ng-template ngx-datatable-header-template> <span class="centered-cell">Estado</span>  </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          ><span class="centered-cell">
            <a
              class="m-0 text-muted text-small w-15 w-sm-15 cortado"
              *ngIf="row.status == true"
            >
              <div
                style="
                  border: 1px solid #b24732;
                  background: white;
                  color: black;
                  font-weight: 400;
                "
                class="badge badge-pill badge-success p-2 item-title"
              >
                Habilitado
              </div>
            </a>

            <a
              class="m-0 text-muted text-small w-15 w-sm-15 cortado"
              *ngIf="row.status == false"
            >
              <div
                style="
                  border: 1px solid #b24732;
                  background: white;
                  color: black;
                  font-weight: 400;
                "
                class="badge badge-pill badge-success p-2 item-title"
              >
                Deshabilitado
              </div>
            </a>
          </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [resizeable]="false"
          [sortable]="false"
          [width]="160"
        >
          <ng-template ngx-datatable-header-template><span class="centered-cell">Acciones</span> </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          > <span class="centered-cell">
            <button
              (click)="entraPermisos(row)"
              class="btn btn-wide btn-outline-secondary mr-3"
            >
              Permisos
            </button>
              <!-- 
                  
                  [disabled]="disableUser(row)"-->

            <button
                  (click)="confirm(i, row, modalEdit)" 
                  class="btn-clanP mr-3"
                >
                  Editar
                </button>
                <button
                (click)="deleteInvoice(row, deleteConfirmModal)"
                  class="btn btn-outline-danger"
                >
                <div style="width: 60px;" class="d-flex justify-content-center">
                  <a *ngIf="row.status == true">Desactivar</a>
                  <a *ngIf="row.status == false">Activar</a>
                </div>
                </button>
          </span>
            <!--    <button
              class="btn btn-outline-danger"
              (click)="deleteInvoice(row, deleteConfirmModal)"
            >
              <a *ngIf="row.status == true">Desactivar</a>
              <a *ngIf="row.status == false">Activar</a>
            </button> -->
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <ngb-pagination
        style="text-align: end"
        class="paginacion-ed"
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="5"
        (pageChange)="cambiaPage($event)"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">¡Advertencia!</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      ¿Está seguro de <a *ngIf="eve == true">activar</a>
        <a *ngIf="eve == false">desactivar</a> el rol de <strong>{{rolNameModal}}</strong> ?
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded"
      (click)="modal.dismiss('cancel')"
    >
      Cancelar
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-danger btn-rounded"
      (click)="modal.close('Ok')"
    >
      Aceptar
    </button>
  </div>
</ng-template>

<ng-template #addProductos>
  <div class="modal-header">
    <h2 mat-dialog-title class="modal-title">Agregar Rol</h2>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="cerrarModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm">
      <div class="row" style="margin-top: 30px">
        <div class="form-group col-md-12 mb-3">
          <label for="nombre">Nombre:</label>
          <input
          class="form-control"
          type="text"
          id="name"
          formControlName="name"
        />
          <!-- <select formControlName="office_id" required class="form-control">
            <option [value]="null" disabled>Seleccione una opción</option>
            <option *ngFor="let item of arrOficina" [value]="item.id">
              {{ item.name }}
            </option>
          </select> -->
        </div>
        <div class="form-group col-md-12 mb-3">
          <label for="description">Descripción:</label>
          <input
            class="form-control"
            type="text"
            id="description"
            formControlName="description"
          />
        </div>

        <div class="col-md-12" style="display: flex; justify-content: flex-end">
          <button
            class="btn btn-outline-info btn-rounded"
            style="margin-right: 20px"
            (click)="cerrarModal()"
          >
            Cancelar
          </button>
          <div>
            <button
              [disabled]="workback"
              class="btn btn-outline-info btn-rounded"
              type="button"
              (click)="agregar()"
            >
              {{workback ?'Guardando...' :'Agregar'}}
            </button>
            <!-- <div class="spinner spinner-primary mr-3" *ngIf="workback"></div> -->
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #modalEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Editar Rol</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-top: 30px">
      <div class="form-group col-md-12 mb-3">
        <label for="name">Nombre:</label>

        <input
          [(ngModel)]="DatosUser.name"
          [ngModelOptions]="{ standalone: true }"
          required
          class="form-control"
        />
      </div>
      <div class="form-group col-md-12 mb-3">
        <label for="correo">Descripción:</label>
        <input
          class="form-control"
          type="text"
          id="correo"
          [(ngModel)]="DatosUser.description"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary btn-rounded"
        (click)="modal.dismiss('cancel')"
        [disabled]="workback"
      >
        Cancelar
      </button>
      <!-- [disabled]="!forma.valid" -->

      <div>
        <button
          class="btn btn-info btn-rounded"
          #closebutton
          (click)="editarRol()"
        >
        {{workback ?'Guardando' :"Guardar cambios"}}
        </button>
        <!-- <div class="spinner spinner-primary mr-3" *ngIf="workback"></div> -->
      </div>
    </div>
  </div>
</ng-template>
