<form [formGroup]="myForm">
<section class="card p-4">
  <div class="row-md d-flex justify-content-between mb-3">
    <h2><strong>{{proveedorId?'Editar Ficha de Proveedor' :'Nueva Ficha de Proveedor'}}</strong></h2>

		<div class="form-group col-md-2 d-flex align-items-center">
			<label for="type_request">Solicitud:</label>
			<select class="form-control ml-2" name="type_request" id="type_request" formControlName="type_request">
				<option value="">Seleccionar</option>
				<option value="automatico">Automático</option>
				<option value="manual">Manual</option>
			</select>
		</div>
	</div>

	<div class="row">

		<div class="form-group col-md-4 mb-3 d-flex">
			<label for="goods" class="mr-5 centered-label">
				<input type="checkbox" id="goods" formControlName="goods">Bienes</label>

				<label for="services" class="centered-label">
					<input type="checkbox" id="services" formControlName="services">Servicios</label>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-4 mb-3">
			<label for="date_start">Fecha de inicio como proveedor SPDA</label>
			<input type="date" name="date_start" id="date_start" class="form-control" formControlName="date_start">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="activity_first">Actividad Principal</label>
			<input type="text" name="activity_first" id="activity_first" class="form-control" formControlName="activity_first">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="activity_second">Actividad Secundaria</label>
			<input type="text" name="activity_second" id="activity_second" class="form-control" formControlName="activity_second">
		</div>
	</div>

  <div class="row-md d-flex justify-content-between mt-3 mb-3">
    <h4><strong>Datos del Proveedor</strong></h4>
	</div>

	<div class="row">
		<div class="form-group col-md-4 mb-3"> 
			<label for="business_name">Nombre o Razón social</label>
			<input type="text" name="business_name" id="business_name" class="form-control" formControlName="business_name">
		</div>

		<div class="form-group col-md-4 mb-3"> 
			<label for="ruc">RUC</label>
			<input type="number" name="ruc" id="ruc" class="form-control" formControlName="ruc">
		</div>

		<div class="form-group col-md-4 mb-3"> 
			<label for="date_constitution">Fecha de Constitución</label>
			<input type="date" name="date_constitution" id="date_constitution" class="form-control" formControlName="date_constitution">
		</div>

		<div class="form-group col-md-4 mb-3"> 
			<label for="tax_domicile">Domicilio Fiscal</label>
			<input type="text" name="tax_domicile" id="tax_domicile" class="form-control" formControlName="tax_domicile">
		</div>

		<div class="form-group col-md-4 mb-3"> 
			<label for="reference">Referencia</label>
			<input type="text" name="reference" id="reference" class="form-control" formControlName="reference">
		</div>

		<div class="form-group col-md-4 mb-3"> 
			<label for="department">Departamento</label>
			<input type="text" name="department" id="department" class="form-control" formControlName="department">
		</div>

		<div class="form-group col-md-4 mb-3"> 
			<label for="province">Provincia</label>
			<input type="text" name="province" id="province" class="form-control" formControlName="province">
		</div>

		<div class="form-group col-md-4 mb-3"> 
			<label for="district">Distrito</label>
			<input type="text" name="district" id="district" class="form-control" formControlName="district">
		</div>

		<div class="form-group col-md-4 mb-3"> 
			<label for="landline_supplier">Teléfono Fijo</label>
			<input type="tel" name="landline_supplier" id="landline_supplier" class="form-control" formControlName="landline_supplier">
		</div>

		<div class="form-group col-md-4 mb-3"> 
			<label for="annex_supplier">Anexo</label>
			<input type="number" name="annex_supplier" id="annex_supplier" class="form-control" formControlName="annex_supplier">
		</div>
	
		<div class="form-group col-md-4 mb-3">
			<label for="phone_supplier">Teléfono Móvil</label>
			<input type="tel" name="phone_supplier" id="phone_supplier" class="form-control" formControlName="phone_supplier">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="email_supplier">Correo Electrónico</label>
			<input type="text" name="email_supplier" id="email_supplier" class="form-control" formControlName="email_supplier">
		</div>
	</div>
</section>

<section class="card mt-4 p-4">
  <div class="row-md d-flex justify-content-between mb-3">
    <h4><strong>Datos del Representante Legal</strong></h4>
	</div>

	<div class="row">
		<div class="form-group col-md-4 mb-3">
			<label for="name_legal_representative">Nombres</label>
			<input type="text" name="name_legal_representative" id="name_legal_representative" class="form-control" formControlName="name_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="last_name_dad_legal_representative">Apellido Paterno</label>
			<input type="text" name="last_name_dad_legal_representative" id="last_name_dad_legal_representative" class="form-control" formControlName="last_name_dad_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="last_name_mom_legal_representative">Apellido Materno</label>
			<input type="text" name="last_name_mom_legal_representative" id="last_name_mom_legal_representative" class="form-control" formControlName="last_name_mom_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="post_legal_representative">Cargo</label>
			<input type="text" name="post_legal_representative" id="post_legal_representative" class="form-control" formControlName="dni_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="dni_legal_representative">DNI</label>
			<input type="text" name="dni_legal_representative" id="dni_legal_representative" class="form-control" formControlName="post_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="date_legal_representative">Fecha Desde</label>
			<input type="date" name="date_legal_representative" id="date_legal_representative" class="form-control" formControlName="date_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="seat_legal_representative">Asiento N°</label>
			<input type="text" name="seat_legal_representative" id="seat_legal_representative" class="form-control" formControlName="seat_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="registration_starting_legal_representative">Partida Registral N°</label>
			<input type="text" name="registration_starting_legal_representative" id="registration_starting_legal_representative" class="form-control" formControlName="registration_starting_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="zone_legal_representative">Zona Registral</label>
			<input type="text" name="zone_legal_representative" id="zone_legal_representative" class="form-control" formControlName="zone_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="landline_legal_representative">Teléfono Fijo</label>
			<input type="tel" name="landline_legal_representative" id="landline_legal_representative" class="form-control" formControlName="landline_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="annex_legal_representative">Anexo</label>
			<input type="number" name="annex_legal_representative" id="annex_legal_representative" class="form-control" formControlName="annex_legal_representative">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="phone_legal_representative">Teléfono Móvil</label>
			<input type="tel" name="phone_legal_representative" id="phone_legal_representative" class="form-control" formControlName="phone_legal_representative">
		</div>
	</div>
</section>

<section class="card mt-4 p-4">
  <div class="row-md d-flex justify-content-between mb-3">
    <h4><strong>Datos de la Persona de Contacto</strong></h4>
	</div>

	<div class="row">
		<div class="form-group col-md-4 mb-3">
			<label for="name_contact">Nombres</label>
			<input type="text" name="name_contact" id="name_contact" class="form-control" formControlName="name_contact">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="last_name_dad_contact">Apellido Paterno</label>
			<input type="text" name="last_name_dad_contact" id="last_name_dad_contact" class="form-control" formControlName="last_name_dad_contact">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="last_name_mom_contact">Apellido Materno</label>
			<input type="text" name="last_name_mom_contact" id="last_name_mom_contact" class="form-control" formControlName="last_name_mom_contact">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="post_contact">Cargo</label>
			<input type="text" name="post_contact" id="post_contact" class="form-control" formControlName="post_contact">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="area_contact">Área</label>
			<input type="text" name="area_contact" id="area_contact" class="form-control" formControlName="area_contact">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="email_contact">Correo Electrónico</label>
			<input type="text" name="email_contact" id="email_contact" class="form-control" formControlName="email_contact">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="landline_contact">Teléfono Fijo</label>
			<input type="tel" name="landline_contact" id="landline_contact" class="form-control" formControlName="landline_contact">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="annex_contact">Anexo</label>
			<input type="number" name="annex_contact" id="annex_contact" class="form-control" formControlName="annex_contact">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="phone_contact">Teléfono Móvil</label>
			<input type="tel" name="phone_contact" id="phone_contact" class="form-control" formControlName="phone_contact">
		</div>
	</div>
</section>

<section class="card mt-4 p-4">
  <div class="row-md d-flex justify-content-between mb-3">
    <h4><strong>Datos Bancarios del Proveedor</strong></h4>
	</div>

	<div class="row">
		<div class="form-group col-md-4 mb-3">
			<label for="name_bank">Banco o Entidad Financiera</label>
			<input type="text" name="name_bank" id="name_bank" class="form-control" formControlName="name_bank">
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-4 mb-3">
			<label for="account_mn">Tipo Cuenta MN</label>
			<input type="text" name="account_mn" id="account_mn" class="form-control" formControlName="account_mn">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="number_account_mn">Número Cta.</label>
			<input type="tel" name="number_account_mn" id="number_account_mn" class="form-control" formControlName="number_account_mn">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="cci_account_mn">CCI (20 dígitos)</label>
			<input type="number" name="cci_account_mn" id="cci_account_mn" class="form-control" formControlName="cci_account_mn">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="account_me">Tipo Cuenta ME</label>
			<input type="text" name="account_me" id="account_me" class="form-control" formControlName="account_me">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="number_account_me">Número Cta.</label>
			<input type="number" name="number_account_me" id="number_account_me" class="form-control" formControlName="number_account_me">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="cci_account_me">CCI (20 dígitos)</label>
			<input type="number" name="cci_account_me" id="cci_account_me" class="form-control" formControlName="cci_account_me">
		</div>
	</div>
</section>
<section class="card mt-4 p-4">
  <div class="row-md d-flex justify-content-between mb-3">
    <h4><strong>Datos de Impuestos</strong></h4>
	</div>

	<div class="row">
		<div class="form-group col-md-4 mb-3">
			<label for="igv">IGV</label>
			<input type="text" name="igv" id="igv" class="form-control" formControlName="igv">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="perception">Percepción (%)</label>
			<input type="tel" name="perception" id="perception" class="form-control" formControlName="perception">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="rent">Renta (%)</label>
			<input type="number" name="rent" id="rent" class="form-control" formControlName="rent">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="account_detraction">BN Cta. Detracción</label>
			<input type="text" name="account_detraction" id="account_detraction" class="form-control" formControlName="account_detraction">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="code_detraction">Código Detracción</label>
			<input type="number" name="code_detraction" id="code_detraction" class="form-control" formControlName="code_detraction">
		</div>

		<div class="form-group col-md-4 mb-3">
			<label for="code_operation">Cód. Operación</label>
			<input type="number" name="code_operation" id="code_operation" class="form-control" formControlName="code_operation">
		</div>
	</div>
</section>

<section class="card mt-4 p-4">
  <div class="row-md d-flex justify-content-between mb-3">
    <h4><strong>Información Adicional</strong></h4>
	</div>

	<ngx-datatable
          style="box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); border-radius: 5px;"
          class="material fullscreen mb-4"
          [style.height]="70 * tableInfo.length + 75 + 'px'"
          [columnMode]="'standard'"
          [headerHeight]="50"
          [footerHeight]="0"
          [rowHeight]="70"
          [scrollbarV]="true"
          [scrollbarH]="true"
					[rows]="tableInfo"
        >
          <ngx-datatable-column [resizeable]="false" [sortable]="false" [width]="711">
            <ng-template ngx-datatable-header-template
              >
							<span class="centered-cell"> Pregunta </span>
							</ng-template
            >
            <ng-template
              ngx-datatable-cell-template
							let-value="value"
              let-row="row"
            >
                <span class="text-cont">{{row.description}}</span>
            </ng-template>
        </ngx-datatable-column>

				<ngx-datatable-column [resizeable]="false" [sortable]="false" [width]="300">
					<ng-template ngx-datatable-header-template
						>
						<span class="centered-cell"> Respuesta </span>
						</ng-template
					>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
              			let-row="row"
					>
						<span class="centered-cell">
							<div class="can-toggle">
								<input id="{{'toggle-q' + row.i}}" type="checkbox" [(ngModel)]="row.response" [ngModelOptions]="{standalone: true}" (change)="clearObs()">
								<label for="{{'toggle-q' + row.i}}">
									<div class="can-toggle__switch" data-unchecked="No" data-checked="Sí"></div>
								</label>
							</div>
						</span>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [resizeable]="false" [sortable]="false" [width]="300">
					<ng-template ngx-datatable-header-template
						>
						<span class="centered-cell"> Observaciones </span>
						</ng-template
					>
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
            let-row="row"
					>
						<span *ngIf="row.letObs" class="centered-cell">
							<input type="text" class="form-control" [disabled]="!row.response" [(ngModel)]="row.obs" [ngModelOptions]="{standalone: true}">
						</span>
					</ng-template>
				</ngx-datatable-column>
	</ngx-datatable>

	<h6><strong>Compromiso de Conducta Empresarial</strong></h6>
	<div> <input type="checkbox" name="business_conduct_commitment" id="business_conduct_commitment" formControlName="business_conduct_commitment">
		Declaro conocer y comprender la "Política antisoborno, anticorrupción, 
		contra el lavado de activos y contra el financiamiento y el apoyo al 
		terrorismo" de la SPDA y me comprometo a cumplirla.
		Declaro que los ingresos y recursos financieros de la persona natural 
		o juridica que represento, son el resultado del normal desarrollo de mi 
		actividad comercial.
	</div>

	<h6 class="mt-3"><strong>Declaración Jurada de Salud</strong></h6>
	<div> <input type="checkbox" name="health_affidavit" id="health_affidavit" formControlName="health_affidavit">
		Nulla dictum mi fringilla sagittis eleifend. Duis interdum mattis nibh, 
		id iaculis tellus ultrices at. Nullam sed enim nec turpis suscipit feugiat. 
		Mauris ullamcorper mauris vitae lectus eleifend rhoncus. In arcu risus, 
		cursus nec orci at, consectetur eleifend leo. Mauris a magna sollicitudin, 
		gravida risus non, dapibus sapien. Nullam mollis nibh at convallis ultrices. 
		Proin cursus, dolor ut bibe.
	</div>

	<h6 class="mt-3"><strong>Declaración Jurada de Conflicto de Intereses</strong></h6>
	<div> <input type="checkbox" name="sworn_declaration_conflicts_interest" id="sworn_declaration_conflicts_interest" formControlName="sworn_declaration_conflicts_interest">
		Nulla dictum mi fringilla sagittis eleifend. Duis interdum mattis nibh, 
		id iaculis tellus ultrices at. Nullam sed enim nec turpis suscipit feugiat. 
		Mauris ullamcorper mauris vitae lectus eleifend rhoncus. In arcu risus, 
		cursus nec orci at, consectetur eleifend leo. Mauris a magna sollicitudin, 
		gravida risus non, dapibus sapien. Nullam mollis nibh at convallis ultrices. 
		Proin cursus, dolor ut bibe.
	</div>

	<h6 class="mt-3"><strong>Declaración Jurada de Antecedentes</strong></h6>
	<div> <input type="checkbox" name="affidavit_background" id="affidavit_background" formControlName="affidavit_background">
		Nulla dictum mi fringilla sagittis eleifend. Duis interdum mattis nibh, 
		id iaculis tellus ultrices at. Nullam sed enim nec turpis suscipit feugiat. 
		Mauris ullamcorper mauris vitae lectus eleifend rhoncus. In arcu risus, 
		cursus nec orci at, consectetur eleifend leo. Mauris a magna sollicitudin, 
		gravida risus non, dapibus sapien. Nullam mollis nibh at convallis ultrices. 
		Proin cursus, dolor ut bibe.
	</div>

	<h6 class="mt-3"><strong>Declaración Jurada de Política Antitráfico</strong></h6>
	<div> <input type="checkbox" name="sworn_declaration_traffic_policy" id="sworn_declaration_traffic_policy" formControlName="sworn_declaration_traffic_policy">
		Nulla dictum mi fringilla sagittis eleifend. Duis interdum mattis nibh, 
		id iaculis tellus ultrices at. Nullam sed enim nec turpis suscipit feugiat. 
		Mauris ullamcorper mauris vitae lectus eleifend rhoncus. In arcu risus, 
		cursus nec orci at, consectetur eleifend leo. Mauris a magna sollicitudin, 
		gravida risus non, dapibus sapien. Nullam mollis nibh at convallis ultrices. 
		Proin cursus, dolor ut bibe.
	</div>

	<h6 class="mt-3"><strong>Consideraciones Generales para los Proveedores</strong></h6>
	<div>
		* Todo pago o desembolso deberá ser a nombre de la Persona Jurídica o 
		Persona Natural del comprobante emitido de acuerdo a la información 
		bancaria declarada en este formato. <br>
		* Se adjuntara al comprobante emitido a nombre de la  SPDA la guía de 
		remisión debidamente firmada por ambas partes,  emisor y receptor de 
		la mercadería entregada. <br>
		* Declaramos que toda la información que hemos detallado en el presente 
		documento contienen datos fehacientes, en caso de probarse lo contrario 
		la SPDA, podrá rescindir de nuestros servicios en forma inmediata y sin 
		tener por nuestra parte derecho a ningún reclamo. <br>
		* Se adjunta ficha RUC actualizada.
	</div>

	<div class="d-flex justify-content-between mt-3">
		<div>
			<button class="btn btn-md btn-primary mr-3" (click)="openModal('fp_file',fp_modal)"> Adjuntar Ficha de Proveedor </button>
			<button class="btn btn-md btn-primary" (click)="openModal('file_sworn_declaration',dj_modal)"> Adjuntar Declaración Jurada </button>

		</div>

		<button class="btn-clanP" (click)="crearProveedor()">
			{{proveedorId?'Guardar Cambios' :'Crear Nuevo Proveedor'}}
		</button>
	</div>
</section>
</form>

<ng-template #fp_modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">Adjuntar Ficha de Proveedor</h4>
		<button
			type="button"
			class="close"
			aria-label="Close button"
			aria-describedby="modal-title"
			(click)="modal.dismiss('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		

		<p>
			Por favor, <a href="" download="ficha_proveedor.xlsx"> descargue este documento</a>, 
			llénelo correctamente según las indicaciones y adjúntelo en el siguiente campo como pdf o imagen (*pdf, *jpg, *png).
		</p>

		<input type="file" name="file_supplier" id="file_supplier" (change)="onFileSelected($event)" [(ngModel)]="fp_file" accept=".pdf, .jpg, .jpeg, .png">
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-outline-secondary btn-rounded"
			(click)="modal.dismiss('cancel')"
		>
			Cancel
		</button>
		<button
			type="button"
			ngbAutofocus
			class="btn btn-wide btn-danger btn-rounded"
			(click)="modal.close('Ok')"
		>
			Ok
		</button>
	</div>
</ng-template>

<ng-template #dj_modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">Adjuntar Declaración Jurada</h4>
		<button
			type="button"
			class="close"
			aria-label="Close button"
			aria-describedby="modal-title"
			(click)="modal.dismiss('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>
			Por favor, <a href="" download="declaracion_jurada.docx"> descargue este documento</a>, 
			llénelo correctamente según las indicaciones y adjúntelo en el siguiente campo como pdf o imagen (*pdf, *jpg, *png).
		</p>

		<input type="file" name="file_sworn_declaration" id="file_sworn_declaration" (change)="onFileSelected($event)" [(ngModel)]="file_sworn_declaration" accept=".pdf, .jpg, .jpeg, .png">
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-outline-secondary btn-rounded"
			(click)="modal.dismiss('cancel')"
		>
			Cancel
		</button>
		<button
			type="button"
			ngbAutofocus
			class="btn btn-wide btn-danger btn-rounded"
			(click)="modal.close('Ok')"
		>
			Ok
		</button>
	</div>
</ng-template>