<div class="multi-select-container">
  <div class="selected-items" (click)="toggleDropdown()">
    <ng-container *ngFor="let item of selectedItems; let i = index">
      <span class="selected-item" *ngIf="i < 3">
          {{ item.itemName }}
          <span class="remove-item" (click)="$event.stopPropagation(); removeItem(item)">x</span>
      </span>
  </ng-container>
    <span *ngIf="hiddenItemCount > 0" class="additional-items">+{{ hiddenItemCount}}</span>
    <!-- Fin de la sección de etiquetas -->

    <span class="material-symbols-outlined clear-all" *ngIf="selectedItems.length > 0" (click)="$event.stopPropagation(); clearAll()">
      close
      </span>
  
    <span *ngIf="selectedItems.length === 0">Seleccionar roles</span>

    <span class="material-symbols-outlined" *ngIf="!showDropdown" style="cursor: pointer;">
      expand_more
    </span>

    <span class="material-symbols-outlined" *ngIf="showDropdown" style="cursor: pointer;">
      expand_less
    </span>

  </div>
  <div class="dropdown" *ngIf="showDropdown">

    <div class="filter-container">
      <input type="text" [(ngModel)]="filterValue" placeholder="Buscar..." (input)="filterOptions()" />
    </div>

    <div class="option select-all">
      <label class="checkbox checkbox-primary">
        <input (click)="$event.stopPropagation(); toggleAll()" type="checkbox"
          [checked]="selectedItems.length === optionsSelect.length" class="selected-all">
        <span>{{ selectedItems.length === optionsSelect.length ? 'Deseleccionar todo' : 'Seleccionar todo' }}</span>
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="option" *ngFor="let option of filteredOptions">
      <label class="checkbox checkbox-primary">
        <input (click)="$event.stopPropagation(); toggleSelection(option)" type="checkbox"
          [checked]="isOptionSelected(option)" class="custom-checkbox" />
        <span>{{ option.itemName }}</span>
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>