.multi-select-container {
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    width: 100%;
    background: #f8f9fa;
    color: #614a46;
}

.selected-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selected-item {
    background-color: #b24732;
    color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-item {
    margin-left: 5px;
    cursor: pointer;
}

.dropdown {
    border: 1px solid #ccc;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    max-height: 200px; 
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 10px; 
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    &::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 5px; 
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    // Estilo para el scrollbar en Firefox
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #f5f5f5;
}
.clear-all {
    margin-left: auto;
    cursor: pointer;
    position: relative;
    right: 14px;
    top: 23px;
    font-size: 14px

}
.dropdown-arrow {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
}

 .filter-container input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 5px;
    margin-bottom: 5px;
    outline: none;
 }


