<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="row" *ngFor="let item of arregloModulos">
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <div style="display: flex; justify-content: space-between">
              <div class="card-title m-0">{{ item.module_name }}</div>
              <div style="margin-left: 20px">
                <label class="checkbox checkbox-success">
                  <input
                    type="checkbox"
                    [(ngModel)]="item.is_in_use"
                    checked
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <!-- <p class="text-small text-muted">
              {{ item.description }}
            </p> -->
            <div class="row">
              <div
                class="col-lg-3 col-md-12 mb-4"
                *ngFor="let itemRutas of item.operations"
              >
                <div
                  class="p-4 border rounded d-flex align-items-center"
                  [ngClass]="getBorderStyle(itemRutas.is_in_use)"
                >
                  <i class="i-Data-Backup text-32 mr-3"></i>
                  <div>
                    <h5 class="text-12 mb-1">{{ itemRutas.name }}</h5>
                    <!-- <span
                      style="font-weight: bold"
                      [ngClass]="getColorStyle(itemRutas.method)"
                      >{{ itemRutas.method }}</span
                    > -->
                  </div>
                  <div
                    style="
                      display: flex;
                      justify-content: flex-end;
                      align-items: flex-end;
                      width: 100%;
                    "
                  >
                    <label class="checkbox checkbox-success">
                      <input
                        type="checkbox"
                        [(ngModel)]="itemRutas.is_in_use"
                        checked
                      />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end">
  <button *ngIf="arregloModulos?.length > 0" class="btn btn-info btn-rounded" (click)="prueba()" [disabled]="mensajeCargando !== 'Guardar'">
    {{ mensajeCargando }}
  </button>
</div>

