.text-info {
  color: rgb(55, 55, 246) !important;
}
.text-adver {
  color: rgb(255, 213, 0) !important;
}

.border-red {
  border: 1px solid green !important;
}
.border-blue {
  border: 1px solid red !important;
}
