.form-group {
    position: relative;
    margin-bottom: 10px;
    label {
        font-size: 12px;
        color: $gray-600;
        margin-bottom: 4px;
    }
}
.form-control {
    border: initial;
    outline: initial !important;
    background: $gray-100;
    border: 1px solid $gray-400;
    color: $foreground;
    &::placeholder {
        color: $gray-500;
    }
    &.rounded, &.form-control-rounded {
        border-radius: 20px;
    }
}
.mat-size{
    font-size: 20px;
}

.gray-icon {
    color: #727272;
    cursor: default;
}

.mat-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius: 15px;
    background: transparent;
    color: #727272;
    cursor: pointer;
}
.mat-btn:focus {
    outline: none;
    // outline: black;
}
.mat-btn:hover {
    color: black;
}

.mat-btn:disabled {
    color: #727272;
    cursor: not-allowed;
    pointer-events: none;
}

/* Mantener el color en gris durante el estado deshabilitado */
.mat-btn:disabled:hover {
    color: #727272;
}

.btn-marginl { 
    border-radius: 15px 0px 0px 15px;
}

.btn-marginr { 
    border-radius: 0px 15px 15px 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.accordion {
    .accordion-item {
      border-bottom: 1px solid #ccc;
  
      &.expanded {
        .accordion-content {
          display: block;
        }
      }
  
      .accordion-header {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #f5f5f5;
        font-weight: bold;
  
        .accordion-icon {
          margin-left: auto;
        }
      }
  
      .accordion-content {
        padding: 10px;
        background-color: #fff;
      }
    }
  }  

.btn-azul {
    color: white;
    background-color: #B24732;
    &:hover {
        background-color: #863828;
    }
}

.btn-gray {
    color: white;
    background-color: #999999;
    &:hover {
        background-color: #8d8d8d;
    }
}

.input-scroll {
    max-height: 200px;
    overflow-y: auto;
}

.input-scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

.input-scroll::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);
    border-radius: 20px; 
}


.input-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(204, 202, 202);  
    border-radius: 20px;     
    border: 3px solid rgb(204, 204, 204); 
}

table.tabla_cliente {
    width: 100%;
    border: 1px solid $gray-400;
    border-collapse: collapse;

    thead {
    background-color: #b24732;    ;
    color: rgb(255, 255, 255);
    }

    th,
    td {
    padding: 10px;
    text-align: center;
    width: 20%;
    }

    tr{
        border: 1px solid $gray-400;
    }

    .t_cliente_body {
    display: block;
    height: 180px;
    overflow-y: auto;
    }

    textarea {
    height: 30px;
    }
}

.tarjeta { 
    height: 150px;
}

.parrafo{
    border: 1px solid $gray-400;
    border-radius: 4px;
}

.clean-component{
    padding: 2rem 5rem;
}

.container {
    border: 1px solid $gray-400;
    background: $gray-100;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  
  .input-wrapper {
    margin-right: 15px;
  }
  
  .input-file {
    padding: 10px;
    border: 1px solid #ccc;
    background: $gray-100;
    border-radius: 4px;
  }
  
  .preview-image {
    margin-top: 15px;
    height: 100px;
  }

select.form-control {
   // -webkit-appearance: none;
}
.input-group-append {
    .btn {
        height: 34px;
        border-color: $gray-400;
    }
}

[ngbdatepicker] {
    height: 34px;
}


/* checkbox-custom */
.checkbox {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    &:hover input ~ .checkmark {
        background-color: $gray-500;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: $primary;
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
        &[disabled] ~ * {
            color: $gray-300;
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        background-color: $gray-300;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 0;
            top: 0;
            right: 0;
            width: 4px;
            bottom: 0;
            margin: auto;
            height: 8px;
            border: solid #{$background};
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}

@each $name, $value in $theme-colors {
    .checkbox-#{$name} {
        input {
            &:checked ~ .checkmark {
                background-color: $value !important;
            }
        }
    }
}

@each $name, $value in $theme-colors {
    .checkbox-outline-#{$name} {
        &:hover input ~ .checkmark {
            background-color: $gray-200;
        }
        input {
            &:checked ~ .checkmark {
                background-color: $background !important;
            }
        }
        .checkmark {
            background: $background;
            border: 1px solid #{$value};
            &:after {
                border-color:  $value;
            }
        }
    }
}


// RADIO BUTTON
.radio {
    @extend .checkbox;
    .checkmark {
        border-radius: 50%;
        &:after {
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background: white;
        }
      }
}
.radio-reverse {
    padding-left: 0;
    padding-right: 28px;
    .checkmark {
        left: auto;
        right: 0;
    }
}

@each $name, $value in $theme-colors {
    .radio-#{$name} {
        input {
            &:checked ~ .checkmark {
                background-color: $value;
            }
        }
    }
}
@each $name, $value in $theme-colors {
    .radio-outline-#{$name} {
        &:hover input ~ .checkmark {
            background-color: $gray-200;
        }
        input {
            &:checked ~ .checkmark {
                background-color: $background !important;
            }
        }
        .checkmark {
            background: $background;
            border: 1px solid #{$value};
            &:after {
                border: 0;
                background: $value;
            }
        }
    }
}

// SWITCH 
.switch {
    position: relative;
    display: inline-block;
    padding-left: 50px;
    height: 16px;
    span:not(.slider) {
        position: relative;
        top: -2px;
        cursor: pointer;
    }
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        width: 42px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 34px;
        background-color: $gray-300;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: -1px;
        bottom: -4px;
        background-color: $background;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
      }
      
      input:checked + .slider {
        background-color: $primary;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px $primary;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
}

@each $name, $value in $theme-colors {
    .switch-#{$name} {
        input:checked + .slider {
            background-color: $value;
        }
          
        input:focus + .slider {
            box-shadow: 0 0 1px $value;
        }
    }
}

[dir="rtl"] {
    .form-check {
        padding-left: 0;
        padding-right: 1.25rem;
    }
    .form-check-input {
        margin-left: 0;
        margin-right: -1.25rem;
    }
    .switch {
        padding-left: 0;
        padding-right: 50px;
    }
    .checkbox,
    .radio {
      padding-left: 0px;
      padding-right: 28px;
        .checkmark {
          left: auto;
          right: 0;
        }
    }
}

.pointer {
    cursor: pointer;
}